<section>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1 class="title-articles">Liste des articles :</h1>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenent-articles">
			<% @articles.each do |article| %>
				<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a class="btn btn-link" href="/articles/<%= article.id %>"><%= article.title %></a>
				</p>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= paginate @articles %>
		</div>
	</div>
</section>
