<section>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1><%= @article.title %></h1>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p><%= @article.content %></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p><a class="btn btn-link" href="/articles">Retourner à la liste des articles</a></p>
		</div>
	</div>
</section>
